@model FoireMuses.Client.Source

@{
    ViewBag.Title = "Details - "+@Model.Name;
}

<div id="titleDisplay">@Model.Name</div>
@if (Model.Publisher != null)
{
<div id="publisher">Published by <a href="#">@Model.Publisher</a></div>
}
@if (Model.DateFrom != null && Model.DateTo != null)
{
<div id="date">@Model.DateFrom - @Model.DateTo</div>
}
@if (Model.Abbreviation != null)
{
    <div id="abbr"><strong>Résumé:</strong> @Model.Abbreviation</div>
}
@if (Model.Cote != null)
{
    <div id="cote"><strong>Cote:</strong> @Model.Cote</div>
}
@if(ViewBag.Pages != null && (ViewBag.Pages as IEnumerable<FoireMuses.Client.SourcePageSearchItem>).Count()>0)
{
   <div id="pages">
   <ul>
   @foreach (var page in ViewBag.Pages)
   {
   <li>
   <a href="PageDetails?sourcePageId=@page.Id">@page.PageNumber</a>
   </li>
   }
   </ul>
   </div>
}

<div id="menuSource">
<ul>
<li><a href="Edit?sourceId=@Model.Id">Modifier</a></li>
<li><a href="PageCreate?sourceId=@Model.Id">Ajouter pages</a></li>
</ul>
</div>



