@model FoireMuses.Client.Source
@using FoireMuses.WebInterface.HtmlHelpers
@{
    ViewBag.Title = "Details - "+ Model.Name;
}

@section topSection{
<img src="../../Content/images/img_top2.png" alt="top banner" />
}

@section commandsSection{
<ul>
	<li><a href="Edit?sourceId=@Model.Id">Edit</a></li>
	<li><a href="PageCreate?sourceId=@Model.Id"><span class="addButton"></span>Add Page</a></li>
	<li><a href="Fascimiles?sourceId=@Model.Id"><span class="uploadButton"></span>Fascimilé</a></li>
</ul>
}

<div id="sourceDetails">
<h1>@Model.Name</h1>
@Helpers.AddField("Publisher", Model.Publisher)
@Helpers.AddField("Abbr.", Model.Abbreviation, false, false)
@Helpers.AddField("Cote", Model.Cote)
@if (Model.DateFrom.HasValue)
{
	<div class="label">Date :</div>
	<div class="value">
		@Model.DateFrom.Value 
		@if(Model.DateTo.HasValue){
			Html.DisplayText("-");
			@Model.DateTo.Value
		}
		@if (Model.ApproxDate.HasValue && Model.ApproxDate.Value)
		{
			<i>(This date is an rough estimate)</i>
		}
	</div>
}
@Helpers.AddField("FreeZone",Model.FreeZone)

@if (ViewBag.Pages != null && (ViewBag.Pages as IEnumerable<FoireMuses.Client.SourcePageSearchItem>).Count() > 0)
{
   <div id="pages">
   <div class="label">Pages :</div>
   <div class="value">
   <ul>
   @foreach (var page in ViewBag.Pages)
   {
   <li>
   <a href="PageDetails?sourcePageId=@page.Id&sourceId=@Model.Id">Page @page.PageNumber</a>
   </li>
   }
   </ul>
   </div>
   </div>
}
</div>


<div id="menuModif">
<hr />
</div>