@model FoireMuses.Client.Source
@using FoireMuses.WebInterface.HtmlHelpers
@{
    ViewBag.Title = "Details - "+ Model.Name;
}
<div id="sourceDetails">
@Html.StringField("Nom", Model.Name, true)
@Html.StringField("Editeur", Model.Publisher)
@Html.StringField("Résumé", Model.Abbreviation,false,false)
@Html.StringField("Cote", Model.Cote)
@if (Model.DateFrom.HasValue && Model.DateTo.HasValue)
{
	@Html.StringField("Date", Model.DateFrom + "-" + Model.DateTo);
	if (Model.ApproxDate.HasValue && Model.ApproxDate.Value)
	{
		<i>Cette date est approximative</i>
	}
}
@if (ViewBag.Pages != null && (ViewBag.Pages as IEnumerable<FoireMuses.Client.SourcePageSearchItem>).Count() > 0)
{
   <div id="pages">
   <div class="label">Pages</div>
   <div class="value">
   <ul>
   @foreach (var page in ViewBag.Pages)
   {
   <li>
   <a href="PageDetails?sourcePageId=@page.Id">Page @page.PageNumber</a>
   </li>
   }
   </ul>
   </div>
   </div>
}
</div>


<div id="menuModif">
<hr />
<ul>
<li><a href="Edit?sourceId=@Model.Id"><span class="editButton"></span>Modifier</a></li>
<li><a href="PageCreate?sourceId=@Model.Id"><span class="addButton"></span>Ajouter page</a></li>
<li><a href="Fascimiles?sourceId=@Model.Id"><span class="uploadButton"></span>Fascimilé</a></li>
</ul>
</div>