@model FoireMuses.Client.Source
@using FoireMuses.WebInterface.HtmlHelpers
@{
    ViewBag.Title = "Details - "+@Model.Name;
}
<div id="sourceDetails">
@Html.StringField("Nom", Model.Name, true)
@Html.StringField("Editeur", Model.Publisher)
@if (Model.DateFrom != null && Model.DateTo != null)
{
<div class="label">Date</div><div class="value">@Model.DateFrom - @Model.DateTo</div>
}

@Html.NullableBooleanField("Date approximative", Model.ApproxDate)

@Html.StringField("Résumé", Model.Abbreviation)
@Html.StringField("Cote", Model.Cote)
@if (ViewBag.Pages != null && (ViewBag.Pages as IEnumerable<FoireMuses.Client.SourcePageSearchItem>).Count() > 0)
{
   <div id="pages">
   <div class="label">Pages</div>
   <div class="value">
   <ul>
   @foreach (var page in ViewBag.Pages)
   {
   <li>
   <a href="PageDetails?sourcePageId=@page.Id">Page @page.PageNumber</a>
   </li>
   }
   </ul>
   </div>
   </div>
}
</div>


<div id="menuModif">
<hr />
<ul>
<li><a href="Edit?sourceId=@Model.Id"><span class="editButton"></span>Modifier</a></li>
<li><a href="PageCreate?sourceId=@Model.Id"><span class="addButton"></span>Ajouter page</a></li>
<li><a href="Fascimiles?sourceId=@Model.Id"><span class="uploadButton"></span>Fascimilé</a></li>
</ul>
</div>