@model FoireMuses.Client.Source
@using FoireMuses.WebInterface.HtmlHelpers

@if (ViewBag.Error != null)
{
<div class="errorMessage">
    <p>@ViewBag.Error</p>
</div>
}
<div id="sourceEditForm">
<fieldset>
<legend>@ViewBag.HeadTitle d'une source</legend>
 <form action="" method="post">
    @Html.HiddenInputField("Id",Model.Id)
    <div class="block">@Html.TextInputField("Nom", "Name", Model.Name)</div>
    <div class="block">@Html.TextInputField("Editeur", "Publisher", Model.Publisher)</div>
    <div class="block">@Html.TextInputField("Cote", "Cote", Model.Cote)</div>
    <div class="block">@Html.Label("Date", "Date")De <input id="Date" type="text" name="DateFrom" value="@Model.DateFrom" /> à <input type="text" name="DateTo" value="@Model.DateTo" /></div>
    <div class="block">@Html.TextInputField("Résumé", "Abbreviation", Model.Abbreviation)</div>
    <div class="block">@Html.CheckboxInputField("Date approximative", "ApproxDate", Model.ApproxDate)</div>
    <input class="submitButton" type="submit" value="@ViewBag.HeadTitle" />
</form>
</fieldset>
</div>
