@model FoireMuses.Client.Source


 <form action="" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <table>
    <tr><td>Nom</td><td><input type="text" name="Name" value="@Model.Name" /></td></tr>
    <tr><td>Editeur</td><td><input type="text" name="Publisher" value="@Model.Publisher" /></td></tr>
    <tr><td>Cote</td><td><input type="text" name="Cote" value="@Model.Cote" /></td></tr>
    <tr><td>Date</td><td>De <input type="text" name="DateFrom" value="@Model.DateFrom" /> à <input type="text" name="DateTo" value="@Model.DateTo" /></td></tr>
    <tr><td>Abbreviation</td><td><input type="text" name="Abbreviation" value="@Model.Abbreviation" /></td></tr>
    <tr><td>Date approximative</td><td>
   
        @if (Model.ApproxDate != null && Model.ApproxDate.Value)
        { 
        <input checked="checked" class="check-box" name="ApproxDate" type="checkbox" value="true" />
        }
        else
        {
            <input class="check-box" name="ApproxDate" type="checkbox" value="true" />
        }
        <input name="ApproxDate" type="hidden" value="false" />
        
    </td></tr>
    </table>
    <input type="submit" value="Creer" />
</form>

