@model FoireMuses.WebInterface.Models.ListViewModel<FoireMuses.Client.SourceSearchItem>
@using FoireMuses.WebInterface.HtmlHelpers

@{
	ViewBag.HeadTitle = "All Sources";
}

<p>@Html.ActionLink("Créer une source", "Create", "Sources", null, null)</p>

<div id="pre-list">
	Sources
</div>
<div id="list-item">
	<ul>
		@{
			bool even = true;
			foreach (var source in Model.SearchResult.Rows)
			{
				<li class="@(even ? "even_row" : "odd_row")">
					<div class="source-item">
						<a href="Details?sourceId=@source.Id">@source.Name</a>
						@Html.StringField("Publisher",source.Publisher)
					</div>
				</li>
				even = !even;
			}
		}
	</ul>
</div>

@if (Model.SearchResult.TotalCount > Model.SearchResult.Max){
	<div id="pager">
		@Html.PageLinks(Model.TotalPages, Model.CurrentPage,x => Url.Action("List", new { page = x }))
	</div>
}
