@model FoireMuses.Client.SourcePage
@using FoireMuses.WebInterface.HtmlHelpers
@{
    ViewBag.Title = "FoireMuses - Add a new page to a source";
}
 <div id="pageEditForm">
 <form action="" method="post">
 <fieldset><legend>@ViewBag.HeadTitle d'une page</legend>
    @Helpers.HiddenInputField("Id", Model.Id)
    <div class="block">@Helpers.HiddenInputField("SourceId", Model.SourceId)</div>
    <div class="block">@Helpers.TextInputField("Numéro de page", "PageNumber", Model.PageNumber)</div>
    <div class="block">@Helpers.TextInputField("Numéro affiché", "DisplayPageNumber", Model.DisplayPageNumber)</div>
    <div class="block">@Helpers.TextInputField("Format de numérotation", "PageNumberFormat", Model.PageNumberFormat)</div>
    <div class="block">@Helpers.TextareaInputField("Contenu", "TextContent", Model.TextContent)</div>
    <input class="submitButton" type="submit" value="@ViewBag.HeadTitle" />
    </fieldset>
</form>
</div>

