@model FoireMuses.Client.SourcePage
@using FoireMuses.WebInterface.HtmlHelpers
@{
    ViewBag.Title = "FoireMuses - Add a new page to a source";
}
 
 <form action="" method="post">
 <fieldset><legend>@ViewBag.HeadTitle d'une page</legend>
    @Html.HiddenInputField("Id",Model.Id)
    @Html.HiddenInputField("SourceId", Model.SourceId)
    @Html.TextInputField("Numéro de page", "PageNumber", Model.PageNumber)
    @Html.TextInputField("Numéro affiché", "DisplayPageNumber", Model.DisplayPageNumber)
    @Html.TextInputField("Contenu", "PageNumber", Model.PageNumber)
    <input class="submitButton" type="submit" value="@ViewBag.HeadTitle" />
    </fieldset>
</form>

