@model FoireMuses.WebInterface.Models.ScoreDetailModel
@using FoireMuses.WebInterface.HtmlHelpers

@{
    ViewBag.Title = "Details";
}

<h2>Détails de l'air</h2>
<div class="scoreDetail">
    @Html.AddField("Title",Model.Score.Title)
    @Html.AddField("Code1",Model.Score.Code1)
    @Html.AddField("Code2",Model.Score.Code2)
    @Html.AddField("Coirault",Model.Score.Coirault)
    @Html.AddField("Composer",Model.Score.Composer)
    @Html.AddField("CoupeMetrique",Model.Score.CoupeMetrique)
    @Html.AddField("Verses",Model.Score.Verses)
    @Html.AddField(" Delarue",Model.Score.Delarue)
    @Html.AddField("Comment",Model.Score.Comments)
    @Html.AddField("Editor",Model.Score.Editor)
    @Html.AddField("RythmSignature",Model.Score.RythmSignature)
    @Html.AddField("OtherTitles",Model.Score.OtherTitles)
    @Html.AddField(" Stanzaz",Model.Score.Stanza)
    @Html.AddField("ScoreType",Model.Score.ScoreType)
    @Html.AddField("CreatorId",Model.Score.CreatorId)
    @Html.AddField("LastModifierId",Model.Score.LastModifierId)
    <div class="sources">
    @if (Model.TextualSource != null)
    {
        <div class="textualSource"><h3>Lyrics source</h3>
            <div class="sourceValues">
            @{Html.RenderPartial("SourceSummary", Model.TextualSource);}
            @{Html.RenderPartial("TextualSourceSummary", Model.Score.TextualSource);}
            
              @if (Model.AssociatedPlay != null)
              {
        <div class="associatedPlay">
           <h3>Associated play</h3>
        <div>
            <a href="/plays/details?id=@Model.AssociatedPlay.Id">@Model.AssociatedPlay.Title, Act @Model.Score.TextualSource.ActNumber, Scene @Model.Score.TextualSource.SceneNumber</a>
        </div>
        </div>
              }
              </div>
              </div>
    }
    @if (Model.MusicalSource != null)
    {
        
        <div class="musicalSource"><h3>Lead sheet source</h3>
        <div class="sourceValues">
            @{Html.RenderPartial("SourceSummary", Model.MusicalSource);}
            @{Html.RenderPartial("MusicalSourceSummary", Model.Score.MusicalSource);}
            </div>
        </div>
    }
    </div>
    </div>
