@model FoireMuses.Client.Score
@using FoireMuses.WebInterface.Helpers
@using FoireMuses.Client;
@{
	ViewBag.HeadTitle = "Details - " + @Model.Title;
	IEnumerable<string> documents = ViewBag.Documents;
	IEnumerable<ScoreSearchItem> otherTitleScores = ViewBag.OtherTitlesScore;
}

@section javascriptSection{
	<script src="../../Content/js/sliderman.1.2.1.js" type="text/javascript"></script>
}

@section commandsSection{
	<ul>
		<li><a href="Edit?scoreId=@Model.Id"><span class="editButton"></span>Edit</a></li>
		<li><a href="Publish?scoreId=@Model.Id"><span class="partitionButton"></span>New score</a> </li>
		<li><a href="#"><span class="uploadButton"></span>Add file</a></li>
	</ul>
}

<div id="scoreDetails">
	<div id="firstPart">
		<div id="gauche">
			@if (documents != null && documents.Contains("$musicxml.xml")){
				<div id="downloads">
					<ul>
						<li><a href="Download?scoreId=@Model.Id&fileType=pdf&fileName=@Model.Title@Html.Raw(".pdf")" target="_blank">
							<img src="../../Content/images/pdfIcon.jpg" /></a> </li>
						<li><a href="Download?scoreId=@Model.Id&fileType=musicxml&fileName=@Model.Title@Html.Raw(".xml")" target="_blank">
							<img src="../../Content/images/xmlIcon.png" /></a> </li>
						<li><a href="Download?scoreId=@Model.Id&fileType=mid&fileName=@Model.Title@Html.Raw(".mid")" target="_blank">
							<img src="../../Content/images/midiIcon.png" /></a> </li>
					</ul>
				</div>
			}
			
			<div class="partition">
			@if (documents != null && documents.Contains("$musicxml.xml")){
				for (int i = 1; i <= documents.Where(x => x.StartsWith("$partition")).Count(); i++){
					string fileName = "$partition" + i + ".png";
					<img src="Images?scoreId=@Model.Id&fileName=@fileName" width="500"alt="Demo2 second" title="Score" />
					break;
				}
			}
			</div>
			<h1>@Model.Title</h1>
			
			@if (ViewBag.GenericScore != null){
				@Helpers.AddField("Titre générique", "<a href=\"details?scoreId=" + (string)ViewBag.GenericScore.Id + "\">" + (string)ViewBag.GenericScore.Title + "</a>")
			}
			@if (Model.IsMaster){
				Helpers.AddField("Is Master", "True");
			}
			@Helpers.AddField("Compositeur", Model.Composer, aDisplayNullValue:false)
			@Helpers.TextualSource(Model.TextualSource, ViewBag.TextualSource, ViewBag.AssociatedPlay)
			@Helpers.MusicalSource(Model.MusicalSource, ViewBag.MusicalSource)
			@Helpers.AddField("Editeur", Model.Editor, aDisplayNullValue: false)
			@Helpers.AddField("Versets", Model.Verses, aDisplayNullValue: false)
			@Helpers.AddField("Type", Model.ScoreType, aDisplayNullValue: false)
			@Helpers.AddField("Strophe", Model.Stanza, aDisplayNullValue: false)
			@Helpers.AddField("Ancien autres titres", Model.OtherTitles, aDisplayNullValue: false)
			@Helpers.AddField("Coupe métrique", Model.CoupeMetrique, aDisplayNullValue: false)
			@Helpers.AddField("Codage mélodique RISM", Model.CodageMelodiqueRISM, aDisplayNullValue: false)
			@Helpers.AddField("Codage par intervalles", Model.CodageParIntervalles, aDisplayNullValue: false)
			@Helpers.AddField("Codage rythmique", Model.CodageRythmique, aDisplayNullValue: false)
			@Helpers.AddField("Commentaires", Model.Comments, aDisplayNullValue: false)
			@Helpers.AddField("Coirault", Model.Coirault, aDisplayNullValue: false)
			@Helpers.AddField("Delarue", Model.Delarue, aDisplayNullValue: false)

			@if (otherTitleScores != null && (otherTitleScores.Where(x => x.Id != Model.Id).Count() > 0)){
				<div id="otherTitles">Autres titres
					<ul>
						@foreach (var item in ViewBag.OtherTitlesScore){
							if (item.Id != Model.Id){
								<li><a href="Details?scoreId=@item.Id">@item.Title</a></li>
							}
						}
					</ul>
				</div>
			}
			@if (Model.Tags != null){
				<div id="tags">
					@foreach (string tag in Model.Tags){
						<a href="#">@tag</a>
					}
				</div>
			}
		</div>
	</div>
	@if (ViewBag.AttachedFiles != null && (ViewBag.AttachedFiles as IEnumerable<string>).Count() > 0)
 {
		<div id="attachedFiles">
			<h3>Fichiers attachés:</h3>
			<ul>
			@foreach (var file in @ViewBag.AttachedFiles)
   {
				<li class="file"><a href="Attachments/@file" title="telecharger le fichier">@file</a> </li>
   }
			</ul>
		</div>
 }
</div>

