@model FoireMuses.Client.Score
@{
    ViewBag.HeadTitle = "Details - " + @Model.Title;
    ViewBag.AddJs = "<script type=\"text/javascript\" src=\"../../Content/js/sliderman.1.2.1.js\"></script>";
}
<div id="gauche">
    @if (ViewBag.Documents != null && (ViewBag.Documents as IEnumerable<string>).Contains("$musicxml.xml"))
    {
        <div id="downloads">
            <ul>
                <li><a href="http://localhost/foiremuses/scores/@Model.Id/$@Model.Title@Html.Raw(".pdf")" target="_blank">
                    <img src="../../Content/images/pdfIcon.jpg" /></a> </li>
                <li><a href="http://localhost/foiremuses/scores/@Model.Id/$@Model.Title@Html.Raw(".xml")" target="_blank">
                    <img src="../../Content/images/xmlIcon.png" /></a> </li>
                <li><a href="http://localhost/foiremuses/scores/@Model.Id/$@Model.Title@Html.Raw(".mid")" target="_blank">
                    <img src="../../Content/images/midiIcon.png" /></a> </li>
            </ul>
        </div>
    }
    <div id="titleDisplay">@Model.Title @if (Model.IsMaster)
                                        {<span> (Maitre)</span>}@if (Model.MasterId != null)
                                                               {
        <div id="type"><a href="details?scoreId=@Model.MasterId"> (Aller à l'air maître)</a></div>
                                                               }</div>
    @if (Model.Composer != null)
    {
        <div id="composer">
            Composé par <a href="#">@Model.Composer</a></div>
    }
    @if (Model.Editor != null)
    {
        <div id="editor">
            Edité par <a href="#">@Model.Editor</a></div>
              
    }
    @if (Model.Verses != null)
    {
        <div id="versets">@Model.Verses</div>
    }
    
     @if (Model.ScoreType != null)
     {
        <div id="type"><strong>Type:</strong> @Model.ScoreType</div>
     }
    

    @if (Model.TextualSource != null || Model.MusicalSource != null)
    {
        <div><strong>Sources:</strong>
            <div id="sources">
                @if (Model.TextualSource != null)
                {
                    <div id="sourcetext"><strong>Textuelle:</strong>
                        <a href="sources?id=@ViewBag.TextualSource.Id" title="cliquer pour aller voir la source">@ViewBag.TextualSource.Name,
                            @ViewBag.TextualSource.DateFrom - @ViewBag.TextualSource.DateTo, Page @Model.TextualSource.Page,
                            Volume @Model.TextualSource.Volume, Tome @Model.TextualSource.Tome,
                            de @ViewBag.TextualSource.Publisher</a></div>
                    
                          if (Model.TextualSource.PieceId != null)
                          {
                        <div id="sourcepiece"><strong>Pièce associée:</strong> <a href="plays?id=@ViewBag.AssociatedPlay.Id" title="cliquer
                        pour aller voir la pièce">@ViewBag.AssociatedPlay.Title, Act @Model.TextualSource.ActNumber,
                        Scene @Model.TextualSource.SceneNumber</a></div>
                          }
                }
                @if (Model.MusicalSource != null)
                {
                    <div id="sourcemusic"><strong>Musicale:</strong>
                        <a href="sources?id=@ViewBag.MusicalSource.Id" title="cliquer pour aller voir la source">@ViewBag.TextualSource.Name,
                            @ViewBag.TextualSource.DateFrom - @ViewBag.TextualSource.DateTo, Page @Model.TextualSource.Page,
                            Volume @Model.TextualSource.Volume, Tome @Model.TextualSource.Tome,
                            de @ViewBag.TextualSource.Publisher</a></div>}
            </div>
        </div>
    }
    @if (Model.Tags != null)
    {
        <div id="tags">
            @foreach (string tag in Model.Tags)
            {
                <a href="#">@tag</a>
            }
        </div>
    }
</div>
@if (ViewBag.Documents != null && (ViewBag.Documents as IEnumerable<string>).Contains("$musicxml.xml"))
{
    <div id="pagePrincipale">
        <div id="slider_container_2">
            <div id="SliderName_2" class="SliderName_2">
                @for (int i = 1; i <= (ViewBag.Documents as IEnumerable<string>).Where(x => x.StartsWith("$partition")).Count(); i++)
                {
                    string fileName = "$partition" + i + ".png";
                    if (i == 1)
                    {
                    <img src="http://localhost/foiremuses/scores/@Model.Id/attachments/@fileName" width="500" height="600" alt="Demo2 first"
                    title="Demo2 first" usemap="#img1map" />
                    <map name="img1map">
                        <area href="#img1map-area1" shape="rect" coords="100,100,200,200" />
                        <area href="#img1map-area2" shape="rect" coords="300,100,400,200" />
                    </map>
                    }
                    else
                    {
                    <img src="http://localhost/foiremuses/scores/@Model.Id/attachments/@fileName" width="500" height="600" alt="Demo2 second"
                    title="Demo2 second" />
                    }
                    <div class="SliderName_2Description">
                        Page @i</div>
                    
                }
            </div>
            <div class="c">
            </div>
            <div id="SliderNameNavigation_2">
            </div>
            <div class="c">
            </div>
            <script type="text/javascript">
                effectsDemo2 = 'rain,stairs,fade';
                var demoSlider_2 = Sliderman.slider({ container: 'SliderName_2', width: 500, height: 600, effects: effectsDemo2,
                    display: {
                        autoplay: 0,
                        loading: { background: '#000000', opacity: 0.5, image: '../../Content/images/loading.gif' },
                        buttons: { hide: true, opacity: 1, prev: { className: 'SliderNamePrev_2', label: '' }, next: { className: 'SliderNameNext_2', label: ''} },
                        description: { hide: true, background: '#000000', opacity: 0.4, height: 50, position: 'bottom' },
                        navigation: { container: 'SliderNameNavigation_2', label: '<img src="../../Content/images/clear.gif" />' }
                    }
                });
            </script>
            <div class="c">
            </div>
        </div>
    </div>
}
@if (ViewBag.AttachedFiles != null && (ViewBag.AttachedFiles as IEnumerable<string>).Count() > 0)
{
    <div id="attachedFiles">
        <!--<h3>
            Fichiers attachés:</h3>
        <ul>
            @foreach (var file in @ViewBag.AttachedFiles)
            {
                <li class="file"><a href="http://localhost/foiremuses/scores/@file" title="telecharger le fichier">
                    @file</a> </li>
            }
        </ul>-->
    </div>
}
<div id="menuScore">
    <ul>
        <li><a href="publish?scoreId=@Model.Id&scoreRev=@Model.Rev">Changer partition</a>
        </li>
        <li><a href="edit?scoreId=@Model.Id">Modifier informations</a> </li>
        <li><a href="#">Attacher un fichier</a> </li>
    </ul>
</div>
