@model FoireMuses.Client.Score

<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $("#TextualSourceSourceId").change(function () {
            // Get the id from the link
            var recordToDelete = $(this.options[this.selectedIndex]).attr("value");
            if (recordToDelete != '' && recordToDelete != null) {
                // Perform the ajax post
                $.post("/Scores/GetPlaysForSource", { "id":
recordToDelete
                },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data == '') {
                            $('#selectPiece').html("");
                            $('.pieceAss input').attr("value", "");
                            $('.pieceAss').fadeOut('slow');
                            //$('.pieceAss').css("display", "none");
                        } else {
                            $('#selectPiece').html("");
                            $('#selectPiece').html(data);
                            //$('.pieceAss').css("display", "table-row");
                            $('.pieceAss').fadeIn('slow');
                        }
                    });
            } else if (recordToDelete == null) {
                $('#selectPiece').html("");
                $('.pieceAss input').attr("value", "");
                $('.pieceAss').fadeOut('slow');
            }
        });
        $("#MasterIdTitle").keyup(function () {
            var wordsToSearch = $(this).attr("value");
            if(wordsToSearch !== "" && wordsToSearch.length > 2){
                $.post("/Scores/AjaxSearchMaster", { "wordsToSearch":
wordsToSearch
                },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data == '') {
                            $('#result').html("");
                        } else {
                            $('#selectPiece').html("");
                            $('#result').html(data);
                        }
                    });
            }
        });
        $("#TextualSourceSourceId").change();
    });
</script>
<div id="encadreInfo">
<p>
	<img class="helpIcon" src="../../Content/images/helpIcon.png" />Insertion d'un air à partir des informations dont vous avez connaissance</p>
	<hr/>
	<p>
	Remplissez le maximum d'informations et lorsque vous avez terminer, cliquez sur le bouton créer.
</p>
	</div>
<div>
<form action="" method="post">

<input type="hidden" name="Id" value="@Model.Id" />
<input type="hidden" id="MasterId" name="MasterId" value="@Model.MasterId" />
<div id="result"></div>
<table id="create">
<tr><td><label>Air Maitre</label></td><td class="value">@Html.EditorFor(model => model.IsMaster)</td></tr>
<tr><td><label>Air dont je suis Maitre</label></td><td class="value"><input id="MasterIdTitle" name="MasterIdTitle" type="text" value="@ViewBag.MasterIdTitle"/></td></tr>
<tr><td class="label"><label>Titre</label></td><td class="value"><input name="Title" type="text" value="@Model.Title"/></td></tr>
<tr><td><label>Compositeur</label></td><td class="value"><input name="Composer" type="text" value="@Model.Composer"/></td></tr>
<tr><td><label>Editeur</label></td><td class="value"><input  name="Editor" type="text" value="@Model.Editor"/></td></tr>
<tr><td><label>Type</label></td><td class="value"><input  name="ScoreType" type="text" value="@Model.ScoreType"/></td></tr>
<tr><td><label>Strophe</label></td ><td class="value"><input  name="Stanze" type="text" value="@Model.Stanza"/></td></tr>
<tr><td><label>Delarue</label></td ><td class="value"><input  name="Delarue" type="text" value="@Model.Delarue"/></td></tr>
<tr><td><label>Coirault</label></td ><td class="value"><input  name="Coirault" type="text" value="@Model.Coirault"/></td></tr>
<tr><td><label>Versets</label></td><td class="value"><textarea  name="Verses" rows="30" cols="50">@Model.Verses</textarea></td></tr>
<tr><td><label>Autres titres</label></td><td class="value"><textarea  name="OthetTitles" rows="30" cols="50">@Model.OtherTitles</textarea></td></tr>
<tr><td><label>Commentaires</label></td><td class="value"><textarea  name="Comments" rows="30" cols="50">@Model.Comments</textarea></td></tr>
<tr>
<td><label>Source Textuelle</label></td><td>
<table class="innerTable">
<tr><td class="label"><label>Titre</label></td><td class="value">
<select id="TextualSourceSourceId" name="TextualSource.SourceId">
<option ></option>
@foreach (var source in ViewBag.Sources)
{
    if (Model.TextualSource != null && Model.TextualSource.SourceId == source.Id)
    {
    <option selected="selected" value="@source.Id" class="SourceOption">@source.Name</option>
    }
    else
    {
     <option value="@source.Id">@source.Name</option>
    }
}
</select></td></tr>


<tr><td><label>Page</label></td><td class="value"><input  name="TextualSource.Page" type="text" value="@if(Model.TextualSource != null){@Model.TextualSource.Page}"/></td></tr>
<tr><td><label>Air n°</label></td><td class="value"><input  name="TextualSource.AirNumber" type="text" value="@if(Model.TextualSource != null){@Model.TextualSource.AirNumber}"/></td></tr>
<tr><td><label>Tome</label></td><td class="value"><input  name="TextualSource.Tome" type="text" value="@if(Model.TextualSource != null){@Model.TextualSource.Tome}"/></td></tr>
<tr><td><label>Volume</label></td><td class="value"><input  name="TextualSource.Volume" type="text" value="@if(Model.TextualSource != null){@Model.TextualSource.Volume}"/></td></tr>

<tr><td><label>Commentaire</label></td><td><textarea  name="TextualSource.Comment" rows="30" cols="50">@if(Model.TextualSource != null){@Model.TextualSource.Comment}</textarea></td></tr>

@if (Model.TextualSource != null && Model.TextualSource.PieceId != null)
{
<tr class="pieceAss" style="display:table-row;"><td><label>Pièce associée</label></td><td id="selectPiece" class="value">
<select name="TextualSource.PieceId">
@foreach (var piece in ViewBag.Pieces)
{
    if (Model.TextualSource.PieceId == piece.Id)
    {
    <option selected="selected" value="@piece.Id">@piece.Title</option>
    }
    else
    {
     <option value="@piece.Id">@piece.Title</option>
    }
}
</select>
</td></tr>
<tr class="pieceAss" style="display:table-row;"><td><label>N° Scene</label></td><td class="value"><input  name="TextualSource.SceneNumber" type="text" value="@Model.TextualSource.SceneNumber"/></td></tr>
<tr class="pieceAss" style="display:table-row;"><td><label>N° Act</label></td><td class="value"><input  name="TextualSource.ActNumber" type="text" value="@Model.TextualSource.ActNumber"/></td></tr>
}
else
{
    <tr class="pieceAss" ><td><label>Pièce associée</label></td><td class="value" id="selectPiece"></td></tr>
    <tr class="pieceAss" ><td><label>N° Scene</label></td><td  class="value"><input name="TextualSource.SceneNumber" type="text" /></td></tr>
    <tr class="pieceAss" ><td><label>N° Act</label></td><td  class="value"><input name="TextualSource.ActNumber" type="text" /></td></tr>
}
</table>
</td></tr>
<tr>
<td><label>Source Musicale</label></td><td>
<table class="innerTable">
<tr><td class="label"><label>Titre</label></td><td class="value">
<select name="MusicalSource.SourceId">
<option></option>
@foreach (var source in ViewBag.Sources)
{
    if (Model.MusicalSource != null && Model.MusicalSource.SourceId == source.Id)
    {
    <option selected="selected" value="@source.Id">@source.Name</option>
    }
    else
    {
     <option value="@source.Id">@source.Name</option>
    }
}
</select></td></tr>
<tr><td><label>Air n°</label></td><td class="value"><input name="MusicalSource.AirNumber" type="text" value="@if (Model.MusicalSource != null)
                                                                             {@Model.MusicalSource.AirNumber}"/></td></tr>
<tr><td><label>Page</label></td><td class="value"><input name="MusicalSource.Page" type="text" value="@if (Model.MusicalSource != null)
                                                                             {@Model.MusicalSource.Page}"/></td></tr>
<tr><td><label>Tome</label></td><td class="value"><input name="MusicalSource.Tome" type="text" value="@if (Model.MusicalSource != null)
                                                                             {@Model.MusicalSource.Tome}"/></td></tr>
<tr><td><label>Volume</label></td><td class="value"><input name="MusicalSource.Volume" type="text" value="@if (Model.MusicalSource != null)
                                                                             {@Model.MusicalSource.Volume}"/></td></tr>
</table>
</td></tr>
</table>

<input class="right" type="submit" value="Creer"/>
</form>
</div>



