@model FoireMuses.Client.Score
@using FoireMuses.WebInterface.Helpers
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $("#TextualSourceSourceId").change(function () {
            // Get the id from the link
            var recordToDelete = $(this.options[this.selectedIndex]).attr("value");
            if (recordToDelete != '' && recordToDelete != null) {
                // Perform the ajax post
                $.post("/Scores/GetPlaysForSource", { "id":
recordToDelete
                },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data == '') {
                            $('#selectPiece').html("");
                            $('#pieceAss input').attr("value", "");
                            $('#pieceAss').fadeOut('slow');
                            //$('.pieceAss').css("display", "none");
                        } else {
                            $('#selectPiece').html("");
                            $('#selectPiece').html(data);
                            //$('.pieceAss').css("display", "table-row");
                            $('#pieceAss').fadeIn('slow');
                        }
                    });
            } else if (recordToDelete == null) {
                $('#selectPiece').html("");
                $('#pieceAss input').attr("value", "");
                $('#pieceAss').fadeOut('slow');
            }
        });
        $("#MasterIdTitle").keyup(function () {
            var wordsToSearch = $(this).attr("value");
            if (wordsToSearch !== "" && wordsToSearch.length > 2) {
                $.post("/Scores/AjaxSearchMaster", { "wordsToSearch":
wordsToSearch
                },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data == '') {
                            hideResult();
                        } else {
                            var elem = $(data + ' li')[0].getElementsByTagName('li');
                            var html = "";
                            for (var i = 0; i < elem.length; i++) {

                                html += "<div onmouseover=\"suggestOver(this)\" onmouseout=\"suggestOut(this)\" onclick=\"setMatch('" + $(elem[i]).text() + "','" + $(elem[i]).attr('id') + "')\" class=\"suggest\">" + $(elem[i]).text() + "</div>";

                            }
                            $('#result').html(html);
                            $('#result').fadeIn('fast');
                        }
                    });
            } else {
                hideResult();
            }
        });
        hideResult();
        $("#TextualSourceSourceId").change();
    });


    function suggestOver(elem) {
        elem.className = "suggest_over";
    }
    function suggestOut(elem) {
        elem.className = "suggest";
    }

    function setMatch(texte, id) {
        hideResult();
        $('#MasterId').attr('value', id);
        $('#MasterIdTitle').attr('value', texte);
    }

    function hideResult() {
        $('#MasterId').attr('value', '');
        $('#result').fadeOut('fast');
        $('#result').html("");
    }
</script>
<div id="encadreInfo">
    <p>
        <img class="helpIcon" src="../../Content/images/helpIcon.png" />Insertion d'un air
        à partir des informations dont vous avez connaissance</p>
    <hr />
    <p>
        Remplissez le maximum d'informations et lorsque vous avez terminer, cliquez sur
        le bouton créer.
    </p>
</div>
<div id="scoreForm">
    <form action="" method="post">
    @Helpers.HiddenInputField("Id", Model.Id)
    @Helpers.HiddenInputField("MasterId", Model.MasterId)
    <fieldset>
        <legend>Informations générale</legend>
        <div class="block checkbox">@Helpers.CheckboxInputField("Maitre", "IsMaster", Model.IsMaster)</div>
        <div class="block"><label for="MasterIdTitle">
            Air dont j'hérite</label><input autocomplete="off" id="MasterIdTitle" name="MasterIdTitle" type="text" value="@ViewBag.MasterIdTitle"/></div>
            <div id="result">
            </div>
        <div class="block">@Helpers.TextInputField("Titre", "Title", Model.Title)</div>
        <div class="block">@Helpers.TextInputField("Compositeur", "Composer", Model.Composer)</div>
        <div class="block">@Helpers.TextInputField("Editeur", "Editor", Model.Editor)</div>
        <div class="block">@Helpers.TextInputField("Type", "ScoreType", Model.ScoreType)</div>
        <div class="block">@Helpers.TextInputField("Strophe", "Stanza", Model.Stanza)</div>
        <div class="block">@Helpers.TextareaInputField("Delarue", "Delarue", Model.Delarue)</div>
        <div class="block">@Helpers.TextInputField("Coirault", "Coirault", Model.Coirault)</div>
        <div class="block">@Helpers.TextareaInputField("Versets", "Verses", Model.Verses)</div>
        <div class="block">@Helpers.TextareaInputField("Autres titres", "OtherTitles", Model.OtherTitles)</div>
        <div class="block">@Helpers.TextareaInputField("Commentaires", "Comments", Model.Comments)</div>
    </fieldset>
    <fieldset>
        <legend>Source textuelle</legend>
        <div class="block"><label for="TextualSourceSourceId">
            Titre</label>
        <select id="TextualSourceSourceId" name="TextualSource.SourceId">
            <option></option>
            @foreach (var source in ViewBag.Sources)
            {
                if (Model.TextualSource != null && Model.TextualSource.SourceId == source.Id)
                {
                <option selected="selected" value="@source.Id" class="SourceOption">@source.Name</option>
                }
                else
                {
                <option value="@source.Id">@source.Name</option>
                }
            }
        </select></div>
        @if (Model.TextualSource != null)
        {
            <div class="block">@Helpers.TextInputField("Page", "TextualSource.Page", Model.TextualSource.Page)</div>
            <div class="block">@Helpers.TextInputField("N° air", "TextualSource.AirNumber", Model.TextualSource.AirNumber)</div>
			<div class="block">@Helpers.TextInputField("Tome", "TextualSource.Tome", Model.TextualSource.Tome)</div>
			<div class="block">@Helpers.TextInputField("Volume", "TextualSource.Volume", Model.TextualSource.Volume)</div>
            <div class="block">@Helpers.TextareaInputField("Commentaires", "TextualSource.Comment", Model.TextualSource.Comment)</div>
		}
		else
		{
            <div class="block">@Helpers.TextInputField("Page", "TextualSource.Page", String.Empty)</div>
            <div class="block">@Helpers.TextInputField("N° air", "TextualSource.AirNumber", String.Empty)</div>
			<div class="block">@Helpers.TextInputField("Tome", "TextualSource.Tome", String.Empty)</div>
			<div class="block">@Helpers.TextInputField("Volume", "TextualSource.Volume", String.Empty)</div>
            <div class="block">@Helpers.TextareaInputField("Commentaires", "TextualSource.Comment", String.Empty)</div>
		}
    </fieldset>
    @if (Model.TextualSource != null && Model.TextualSource.PieceId != null)
	{
        <div id="pieceAss">
            <fieldset>
                <legend>Pièce associée</legend>
                <div class="block"><label for="TextualSourcePieceId">
                    Pièce associée</label>
                <div id="selectPiece">
                    <select id="TextualSourcePieceId" name="TextualSource.PieceId">
                        @foreach (var piece in ViewBag.Pieces)
						{
							if (Model.TextualSource.PieceId == piece.Id)
							{
                            <option selected="selected" value="@piece.Id">@piece.Title</option>
							}
							else
							{
                            <option value="@piece.Id">@piece.Title</option>
							}
						}
                    </select>
                </div></div>
                <div class="block">@Helpers.TextInputField("N° Scène", "TextualSource.SceneNumber", Model.TextualSource.SceneNumber)</div>
                <div class="block">@Helpers.TextInputField("N° Acte", "TextualSource.ActNumber", Model.TextualSource.ActNumber)</div>
            </fieldset>
        </div>
	}
	else
	{
        <div id="pieceAss">
            <fieldset>
                <legend>Pièce associée</legend>
                <div class="block"><label for="TextualSourcePieceId">
                    Pièce associée</label><div id="selectPiece">
                    </div></div>
                <div class="block">@Helpers.TextInputField("N° Scène", "TextualSource.SceneNumber", String.Empty)</div>
                <div class="block">@Helpers.TextInputField("N° Acte", "TextualSource.ActNumber", String.Empty)</div>
            </fieldset>
        </div>
	}
    <fieldset>
        <legend>Source musicale</legend>
        <div class="block"><label for="MusicalSourceSourceId">
            Titre</label>
        <select id="MusicalSourceSourceId" name="MusicalSource.SourceId">
            <option></option>
            @foreach (var source in ViewBag.Sources)
			{
				if (Model.MusicalSource != null && Model.MusicalSource.SourceId == source.Id)
				{
                <option selected="selected" value="@source.Id">@source.Name</option>
				}
				else
				{
                <option value="@source.Id">@source.Name</option>
				}
			}
        </select></div>
        @if (Model.MusicalSource != null)
		{
            <div class="block">@Helpers.TextInputField("Page", "MusicalSource.Page", Model.MusicalSource.Page)</div>
            <div class="block">@Helpers.TextInputField("N° air", "MusicalSource.AirNumber", Model.MusicalSource.AirNumber)</div>
            <div class="block">@Helpers.TextInputField("Tome", "MusicalSource.Tome", Model.MusicalSource.Tome)</div>
            <div class="block">@Helpers.TextInputField("Volume", "MusicalSource.Volume", Model.MusicalSource.Volume)</div>
		}
		else
		{
            <div class="block">@Helpers.TextInputField("Page", "MusicalSource.Page", String.Empty)</div>
            <div class="block">@Helpers.TextInputField("N° air", "MusicalSource.AirNumber", String.Empty)</div>
            <div class="block">@Helpers.TextInputField("Tome", "MusicalSource.Tome", String.Empty)</div>
            <div class="block">@Helpers.TextInputField("Volume", "MusicalSource.Volume", String.Empty)</div>
		}
    </fieldset>
    <input class="submitButton" type="submit" value="@ViewBag.HeadTitle" />
    </form>
</div>
