@model FoireMuses.Client.Score
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $("#TextualSourceSourceId").change(function () {
            // Get the id from the link
            var recordToDelete = $(this.options[this.selectedIndex]).attr("value");
            if (recordToDelete != '' && recordToDelete != null) {
                // Perform the ajax post
                $.post("/Scores/GetPlaysForSource", { "id":
recordToDelete
                },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data == '') {
                            $('#selectPiece').html("");
                            $('.pieceAss input').attr("value", "");
                            $('.pieceAss').fadeOut('slow');
                            //$('.pieceAss').css("display", "none");
                        } else {
                            $('#selectPiece').html("");
                            $('#selectPiece').html(data);
                            //$('.pieceAss').css("display", "table-row");
                            $('.pieceAss').fadeIn('slow');
                        }
                    });
            } else if (recordToDelete == null) {
                $('#selectPiece').html("");
                $('.pieceAss input').attr("value", "");
                $('.pieceAss').fadeOut('slow');
            }
        });
        $("#TextualSourceSourceId").change();
    });
</script>
<div id="encadreInfo">
    <p>
        <img class="helpIcon" src="../../Content/images/helpIcon.png" />Insertion d'un air
        à partir des informations dont vous avez connaissance</p>
    <hr />
    <p>
        Remplissez le maximum d'informations et lorsque vous avez terminer, cliquez sur
        le bouton créer.
    </p>
</div>
<div id="editForm">
    <form action="" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="bigField"><label for="title">
        Titre</label><input id ="title" name="Title" type="text" value="@Model.Title"/></div>
    <div class="bigField"><label for="composer">
        Compositeur</label><input id="composer" name="Composer" type="text" value="@Model.Composer"/></div>
    <div class="bigField"><label for="editor">
        Editeur</label><input id="editor" name="Editor" type="text" value="@Model.Editor"/></div>
    <div class="bigField"><label for="scoreType">
        Type</label><input id="scoreType" name="ScoreType" type="text" value="@Model.ScoreType"/></div>
    <div class="bigField"><label for="stanze">
        Strophe</label><input id="stanze" name="Stanze" type="text" value="@Model.Stanza"/></div>
    <div class="bigField"><label for="delarue">
        Delarue</label><input id="delarue" name="Delarue" type="text" value="@Model.Delarue"/></div>
    <div class="bigField"><label for="coirault">
        Coirault</label><input id="coirault" name="Coirault" type="text" value="@Model.Coirault"/></div>
    <div class="bigField"><label for="verses">
        Versets</label><textarea id="verses" name="Verses" rows="30" cols="50">@Model.Verses</textarea></div>
    <div class="bigField"><label for="otherTitles">
        Autres titres</label><textarea id="otherTitles" name="OthetTitles" rows="30" cols="50">@Model.OtherTitles</textarea></div>
    <div class="bigField"><label for="comments">
        Commentaires</label><textarea id="comments" name="Comments" rows="30" cols="50">@Model.Comments</textarea></div>
    <div id="formSourceTextuelle"><label>
        Source Textuelle</label>
    <label for="TextualSourceSourceId">
        Titre</label>
    <select id="TextualSourceSourceId" name="TextualSource.SourceId">
        <option></option>
        @foreach (var source in ViewBag.Sources)
        {
            if (Model.TextualSource != null && Model.TextualSource.SourceId == source.Id)
            {
            <option selected="selected" value="@source.Id" class="SourceOption">@source.Name</option>
            }
            else
            {
            <option value="@source.Id">@source.Name</option>
            }
        }
    </select>
    <label for="textualSourcePage">
        Page</label><input id="textualSourcePage" name="TextualSource.Page" type="text" value="@if (Model.TextualSource != null)
                                                                         {@Model.TextualSource.Page}"/>
    <label for="textualSourceAirNumber">
        Air n°</label><input id="textualSourceAirNumber" name="TextualSource.AirNumber" type="text" value="@if (Model.TextualSource != null)
                                                                                {@Model.TextualSource.AirNumber}"/>
    <label for="textualSourceTome">
        Tome</label><input id="textualSourceTome" name="TextualSource.Tome" type="text" value="@if (Model.TextualSource != null)
                                                                         {@Model.TextualSource.Tome}"/>
    <label for="textualSourceVolume">
        Volume</label><input id="textualSourceVolume" name="TextualSource.Volume" type="text" value="@if (Model.TextualSource != null)
                                                                             {@Model.TextualSource.Volume}"/>
    <label for="textualSourceComments">
        Commentaire</label><textarea id="textualSourceComments" name="TextualSource.Comment" rows="30" cols="50">@if (Model.TextualSource != null)
                                                                                      {@Model.TextualSource.Comment}</textarea>
    @if (Model.TextualSource != null && Model.TextualSource.PieceId != null)
    {<label for="textualSourcePieceId">Pièce associée</label>
        <select id="textualSourcePieceId" name="TextualSource.PieceId">
            @foreach (var piece in ViewBag.Pieces)
            {
                if (Model.TextualSource.PieceId == piece.Id)
                {
                <option selected="selected" value="@piece.Id">@piece.Title</option>
                }
                else
                {
                <option value="@piece.Id">@piece.Title</option>
                }
            }
        </select>

        <label for="textualSourceSceneNumber">
            N° Scene</label><input id="textualSourceSceneNumber" name="TextualSource.SceneNumber" type="text" value="@Model.TextualSource.SceneNumber"/>
        <label for="textualSourceActNumber">
            N° Act</label><input id="textualSourceActNumber" name="TextualSource.ActNumber" type="text" value="@Model.TextualSource.ActNumber"/>
    }
    else
    {   <label for="textualSourcePieceId">Pièce associée</label>
        <label for="textualSourceSceneNumber">
            N° Scene</label><input id="textualSourceSceneNumber" name="TextualSource.SceneNumber" type="text" />
        <label for="textualSourceActNumber">
            N° Act</label><input id="textualSourceActNumber" name="TextualSource.ActNumber" type="text" />
    }
    </div>
    <div class="formMusicalSource">
    <label>
        Source Musicale</label>
    <label for="musicalSourceSourceId">
        Titre</label>
    <select id="musicalSourceSourceId" name="MusicalSource.SourceId">
        <option></option>
        @foreach (var source in ViewBag.Sources)
        {
            if (Model.MusicalSource != null && Model.MusicalSource.SourceId == source.Id)
            {
            <option selected="selected" value="@source.Id">@source.Name</option>
            }
            else
            {
            <option value="@source.Id">@source.Name</option>
            }
        }
    </select>
    <label for="musicalSourceAirNumber">
        Air n°</label><input id="musicalSourceAirNumber" name="MusicalSource.AirNumber" type="text" value="@if (Model.MusicalSource != null)
                                                                               {@Model.MusicalSource.AirNumber}"/>
    <label for="musicalSourcePage">
        Page</label><input id="musicalSourcePage" name="MusicalSource.Page" type="text" value="@if (Model.MusicalSource != null)
                                                                        {@Model.MusicalSource.Page}"/>
    <label for="musicalSourceTome">
        Tome</label><input for="musicalSourceTome" name="MusicalSource.Tome" type="text" value="@if (Model.MusicalSource != null)
                                                                        {@Model.MusicalSource.Tome}"/>
    <label for="musicalSourceVolume">
        Volume</label><input for="musicalSourceVolume" name="MusicalSource.Volume" type="text" value="@if (Model.MusicalSource != null)
                                                                            {@Model.MusicalSource.Volume}"/>
      </div>
    <input class="right" type="submit" value="Creer" />
    </form>
</div>
