@model FoireMuses.Client.SearchResult<FoireMuses.Client.Score>

@{
    ViewBag.HeadTitle = "Scores";
}

<div id="pageNumerate">
@{
    int pages = Model.TotalCount / Model.Max;
    for(int i = 1; i < 10; i++){
        @Html.ActionLink(i.ToString(), "Index", "Scores?page="+i);
    }
}
</div>
<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            Type
        </th>
        <th>
            Editor
        </th>
    </tr>

@foreach (var item in Model.Rows) {
    <tr>
        <td>
            @item.Title
        </td>
        <td>
            @item.Composer
        </td>
        <td>
            @item.ScoreType
        </td>
        <td>
            @item.Editor
        </td>
    </tr>
}
</table>

