@model FoireMuses.WebInterface.Models.ListViewModel<FoireMuses.Client.ScoreSearchItem>
@using FoireMuses.WebInterface.HtmlHelpers
@{
	ViewBag.HeadTitle = "All Scores";
}
<div id="noResults">
	@Html.ActionLink("Créer un air", "Create", "Scores", null, null)
</div>
<div id="pre-list">
	Airs
</div>
<div id="list-item">
	<ul>
		@{
			bool even = true;
			foreach (var score in Model.SearchResult.Rows)
			{
					<li class="@(even ? "even_row" : "odd_row")">
						<div class="score-item">
							<div class="score-title">
								<a href="Details?scoreId=@score.Id">@score.Title</a></div>
								@if (score.Editor != null){
								<div class="score-editor">
									edited by @score.Editor
								</div>
								}
								@if (score.Composer != null){
									<div class="score-composer">composed by @score.Composer</div>
								}
								@if (score.Editor != null){
									<div class="score-editor">, edited by @score.Editor</div>
								}
						</div>
					</li>
				even = !even;
			}
		}
	</ul>
</div>

@if (Model.SearchResult.TotalCount > Model.SearchResult.Max){
	<div id="pager">
		@Html.PageLinks(Model.TotalPages, Model.CurrentPage,x => Url.Action("List", new { page = x }))
	</div>
}
