@model FoireMuses.WebInterface.Models.ListViewModel<FoireMuses.Client.ScoreSearchItem>
@using FoireMuses.WebInterface.Helpers
@{
	ViewBag.HeadTitle = "All Scores";
}
@section commandsSection{
	<ul>
		<li><a href="Create">New</a></li>
	</ul>
}
<h1>Airs</h1>
<div id="list-item">
	<ul>
		@{
			bool even = true;
			foreach (var score in Model.SearchResult.Rows)
			{
					<li class="@(even ? "even_row" : "odd_row")">
						<div class="score-item">
							<div class="score-title">
								<a href="Details?scoreId=@score.Id">@score.Title</a>
							</div>
							@if (!String.IsNullOrEmpty(score.Editor)){
							<div class="score-editor">
								edited by @score.Editor
							</div>
							}
							@if (!String.IsNullOrEmpty(score.Composer)){
								<div class="score-composer">
									composed by @score.Composer
								</div>
							}
							<div>
							@score.TextualSourceReferenceText
							</div>
							<div>
							@score.MusicalSourceReferenceText
							</div>
						</div>
					</li>
				even = !even;
			}
		}
	</ul>
</div>
@Helpers.Pager(Model.TotalPages, Model.CurrentPage, x => Url.Action("List", new { page = x }))