@model FoireMuses.WebInterface.Models.ListViewModel<FoireMuses.Client.Score>
@using FoireMuses.WebInterface.HtmlHelpers
@{
    ViewBag.HeadTitle = "All Scores";
}

<div id="pre-list">
Airs
</div>
<div id="list-item">
<ul>
@{bool fonce = true;
  foreach (var score in Model.SearchResult.Rows)
  {
      if (fonce)
      {
            <li class="fonce">
            <div class="score-item">
            <div class="score-title"><a href="details?scoreId=@score.Id">@score.Title</a></div>
            @if (score.Editor != null)
            {
                <div class="score-editor">edited by @score.Editor</div>
            }
            
            @if (score.Composer != null)
            {
                if (score.Editor != null)
                {
                <div class="score-composer">, composed by @score.Editor</div>
                }
                else
                {
                    <div class="score-composer">composed by @score.Editor</div>
                }
            }
        </div>
        </li>
      }
      else
      {
          <li>
            <div class="score-item">
            <div class="score-title"><a href="details?scoreId=@score.Id">@score.Title</a></div>
            @if (score.Editor != null)
            {
                <div class="score-editor">edited by @score.Editor</div>
            }
            
            @if (score.Composer != null)
            {
                if (score.Editor != null)
                {
                <div class="score-composer">, composed by @score.Editor</div>
                }
                else
                {
                    <div class="score-composer">composed by @score.Editor</div>
                }
            }
        </div>
        </li>
            
      }

      fonce = !fonce;
  }
}
</ul>
</div>
<div id="pager">
       @Html.PageLinks(Model.TotalPages, Model.CurrentPage,
            x => Url.Action("List", new { page = x }))
</div>
