@model FoireMuses.Webinterface.Models.RegisterModel
@using FoireMuses.WebInterface.HtmlHelpers
@{
    ViewBag.HeadTitle = "Créer user";
}

<div id="createUserForm">
<form action="" method="post">
    <fieldset>
    <legend>Créer un utilisateur</legend>
    <div class="block">@Html.TextInputField("Username", "Username", String.Empty)</div>
    <div class="block">@Html.PasswordInputField("Password", "Password", String.Empty)</div>
    <div class="block">@Html.PasswordInputField("Confirmation", "Password", String.Empty)</div>
    <div class="block">@Html.TextInputField("Email", "Email", String.Empty)</div>
   <div class="block"> @Html.CheckboxInputField("Administrateur", "IsAdmin", false)</div>
    <input type="submit" value="Creer" />
    </fieldset>
</form>
</div>
