@using FoireMuses.WebInterface.HtmlHelpers
<html>
<head>
    <title>@ViewBag.HeadTitle</title>
    <link href="@Url.Content("~/Content/stylesheet.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    @Html.Raw(ViewBag.AddJs)
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="links">
                <ul id="list">
                       @if (!User.Identity.IsAuthenticated)
                       {
                    <li class="first"><a href="/Users/Login/">log in</a> </li>
                       }
                       else
                       {
                           if (Roles.IsUserInRole("ADMIN"))
                           {
                               <li><a href="/Admin/">Administration</a></li>
                           }
                           <li><a href="#">@User.Identity.Name</a></li>
                           <li class="first"><a href="/Users/Logout/">log out</a></li>
                       }
                </ul>
            </div>
            <div id="banner">
                <h2>
                    <a href="/">Foire Muses</a></h2>
            </div>
        </div>
        <!-- fin header -->
        <div id="menu">
<div id="primary">
<ul> 
<li><a href="/Home/" title="Home page">Home</a></li> 
<li><a href="/Scores/List" title="Browse the Foire muses scores repository">Airs</a></li> 
<li><a href="/Sources/List" title="Browse the Foire muses sources repository">Sources</a></li> 
<li><a href="#" title="Browse the Foire muses plays repository">Pièces</a></li> 
<li>
<a href="/Search/" >Recherche</a>
<ul>
<li>
<a href="/Search/Score" title="Chercher un air">Air</a>
</li>
<li>
<a href="/Search/Source" title="Chercher une source">Source</a>
</li>
<li>
<a href="/Search/Play" title="Chercher une pièce">Pièce</a>
</li>
<li>
<a href="/Search/Music" title="Chercher apd la musique">Music</a>
</li>
</ul>
</li>
<li><a href="#" title="Frequently Asked Questions">FAQ</a></li> 
<li>
<a href="#" >Créer</a>
<ul>
<li>
<a href="/Scores/Create" title="Créer un air">Air</a>
</li>
<li>
<a href="/Sources/Create" title="Créer une source">Source</a>
</li>
<li>
<a href="/Plays/Create" title="Créer une pièce">Pièce</a>
</li>
</ul>
</li> 
</ul></div>
</div>
        <div id="global">
            @RenderBody()
        </div>
        <div id="footer">
            2011, Foire Muses <a href="#">Contact us</a>
        </div>
    </div>
</body>
</html>