@using FoireMuses.WebInterface.HtmlHelpers
<html>
<head>
    <title>@ViewBag.HeadTitle</title>
    <link href="@Url.Content("~/Content/stylesheet.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
	@RenderSection("javascriptSection", false);
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="links">
                <ul id="list">
                       @if (!User.Identity.IsAuthenticated)
                       {
                    <li class="first">@Html.ActionLink("login", "Login", "Users")</li>
                       }
                       else
                       {
                           if (Roles.IsUserInRole("ADMIN"))
                           {
                               <li>@Html.ActionLink("administration", "Index", "Admin")</li>
                           }
                           <li><a href="#">@User.Identity.Name</a></li>
                           <li class="first">@Html.ActionLink("logout", "Logout", "Users")</li>
                       }
                </ul>
            </div>
            <div id="banner">
                <h2>
                    <a href="/">Foire Muses</a></h2>
            </div>
        </div>
        <!-- fin header -->
        <div id="menu">
<div id="primary">
<ul> 
<li>@Html.ActionLink("Home", "Index", "Home")</li> 
<li>@Html.ActionLink("Airs", "List", "Scores")</li> 
<li>@Html.ActionLink("Sources", "List", "Sources")</li> 
<li><a href="#" title="Browse the Foire muses plays repository">Pièces</a></li> 
<li>
@Html.ActionLink("Recherche", "Index", "Search")
<ul>
<li>
@Html.ActionLink("Air", "Score", "Search")
</li>
<li>
@Html.ActionLink("Source", "Source", "Search")
</li>
<li>
@Html.ActionLink("Piece", "Play", "Search")
</li>
<li>
@Html.ActionLink("Music", "Music", "Search")
</li>
</ul>
</li>
<li><a href="#" title="Frequently Asked Questions">FAQ</a></li> 
<li>
<a href="#" >Créer</a>
<ul>
<li>
@Html.ActionLink("Air", "Create", "Scores")
</li>
<li>
@Html.ActionLink("Source", "Create", "Sources")
</li>
<li>
<a href="#" title="Créer une pièce">Pièce</a>
</li>
</ul>
</li> 
</ul></div>
</div>
        <div id="global">
            @RenderBody()
        </div>
        <div id="footer">
            2011, Foire Muses <a href="#">Contact us</a>
        </div>
    </div>
</body>
</html>