@model FoireMuses.WebInterface.Models.ListViewModel<FoireMuses.Client.ScoreSearchItem>
@using FoireMuses.WebInterface.Helpers

@{
    ViewBag.Title = "Resultat de recherche";
}

@if (Model.SearchResult.Rows.Count() == 0)
{
    <div id="noResults">
    <p>Il n'y a aucun résultat pour cette recherche, @Html.ActionLink("faire une autre recherche", "Index")</p>
    </div>
}
else
{

<div id="pre-list">
Resultats
</div>
<div id="list-item">
<ul>
@{
	bool fonce = true;
	foreach (var score in Model.SearchResult.Rows){
	<li class="@(fonce ? "fonce": String.Empty)">
		<div class="score-item">
			<div class="score-title"><a href="../Scores/Details?scoreId=@score.Id">@score.Title</a></div>
			@if (score.Editor != null){
				<div class="score-editor">edited by @score.Editor</div>
			}
			@if (score.Composer != null){
				if (score.Editor != null){
					@:, 
				}
				<div class="score-composer">composed by @score.Composer</div>
			}
			<div>
				@Helpers.TextualSource(score.TextualSource,score.TextualSource.Source,score.TextualSource.Play)
			</div>
			<div>
				@Helpers.MusicalSource(score.MusicalSource, score.MusicalSource.Source)
			</div>
		</div>
	</li>
	fonce = !fonce;
	}
}
</ul>
</div>
<div id="pager">

</div>
}