@model FoireMuses.WebInterface.Models.ListViewModel<FoireMuses.Client.ScoreSearchItem>
@using FoireMuses.WebInterface.HtmlHelpers

@{
    ViewBag.Title = "Resultat de recherche";
}

<div id="pre-list">
Resultats
</div>
<div id="list-item">
<ul>
@{bool fonce = true;
  foreach (var score in Model.SearchResult.Rows)
  {
      if (fonce)
      {
            <li class="fonce">
            <div class="score-item">
            <div class="score-title"><a href="../scores/details?scoreId=@score.Id">@score.Title</a></div>
            @if (score.Editor != null)
            {
                <div class="score-editor">edited by @score.Editor</div>
            }
            
            @if (score.Composer != null)
            {
                if (score.Editor != null)
                {
                <div class="score-composer">, composed by @score.Composer</div>
                }
                else
                {
                    <div class="score-composer">composed by @score.Composer</div>
                }
            }
        </div>
        </li>
      }
      else
      {
          <li>
            <div class="score-item">
            <div class="score-title"><a href="../Scores/details?scoreId=@score.Id">@score.Title</a></div>
            @if (score.Editor != null)
            {
                <div class="score-editor">edited by @score.Editor</div>
            }
            
            @if (score.Composer != null)
            {
                if (score.Editor != null)
                {
                <div class="score-composer">, composed by @score.Composer</div>
                }
                else
                {
                    <div class="score-composer">composed by @score.Composer</div>
                }
            }
        </div>
        </li>
            
      }

      fonce = !fonce;
  }
}
</ul>
</div>
<div id="pager">
       @{
           string titleValue = Context.Request.Params["title"];
           string composerValue = Context.Request.Params["composer"];
           string editorValue = Context.Request.Params["editor"];
           string versesValue = Context.Request.Params["verses"];
           string musicValue = Context.Request.Params["music"];
           @Html.PageLinks(Model.TotalPages, Model.CurrentPage,
                     x => Url.Action(ViewBag.Action, new { page = x, title = titleValue, composer = composerValue, editor = editorValue, verses = versesValue, music = musicValue}));
                     }
</div>


